$primary:#4793DD;
$secondary: #2EB89E;
$danger:#ff7f7f;
$dark:#4C5C6C;
$gray:#323232;
$light:#D7DDE2;
$light-border:darken($light,1);
$lighter:#EDF4FB;
$links: saturate(lighten($primary, 10), 30);

@import 'components/_queue';
@import 'components/_search_results';
@import 'components/player-controls';

i[class^=icon]{
  vertical-align: middle;
}
body {
  color: $dark;
  background: $light;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.container-grid{
  display: grid;
  grid-template-columns: auto 450px;
  grid-template-rows: 50px auto;
}

.navheader {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: #fff;
  border-bottom: 1px solid $light-border;

  .fa {
    cursor: pointer;
    &.active,
    &:hover {
      color: $light;
    }
  }

  form {
    position: relative;
    .fa {
      z-index: 3;
      color: $light;
      &:hover {
        color: $dark;
      }
      position: absolute;
      right: 1rem;
      top: 0.1rem;
      cursor: pointer;
    }
  }

  .suggestions {
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 1rem 0.75rem 0.5rem 0.75rem;
    top: 1rem;
    z-index: 1;
    border-radius: 0 0 1rem 1rem;
    .suggestion:hover {
      cursor: pointer;
      color: $secondary
    }
  }

  input,
  input:focus {
    position: relative;
    z-index: 2;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $primary;
    padding: 0.375rem 3rem 0.375rem 0.75rem;
    font-weight: 300;
  }
}

#player {
  width: 100%;
  overflow: hidden;
}

.cover {
  text-align: center;
  width: 100%;
  overflow: hidden;
  background-color: $dark;
  img {
    width: 100%;
  }
  div {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    color: $light;
    text-shadow: 1px 1px 1px $dark;
  }
}


.search-actions-container{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  font-size: 1.3em;
}

.sidebar{
  max-width: 450px;
  grid-row: 1 / span 2;
  grid-column: 2 / 2;
}