.queue{
  background-color: $lighter;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc( 100vh - 455px);
  .track{
    position: relative;
    height: 70px;
    overflow: hidden;
    &:hover{
      .track-info{
        transform: translateX(70px);
        box-shadow: -3px 0 5px darken($lighter, 5);
      }
      .action{
        &.remove {
          display:block;
        }
      }
    }
    &-info{
      padding: 15px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      height: 70px;
      font-size: 0.9em;
      border-bottom: 1px solid $lighter;
      line-height: 2.5;
      transition: 0.3s ease-in-out 0.3s;
      .title{
        font-weight: 300;
        max-width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
      }
    }
    .actions{
      font-size: 1.6em;
      padding: 10px 25px;
      color:$secondary;
      line-height: 2em;
    }
    .action{
      cursor: pointer;
      &.remove {
        display: none;
        position: absolute;
        top: 50%;
        right: 20px;
        font-size: 1.4em;
        transform: translateY(-50%);
        color:$danger;
        z-index:1
      }
    }
  }
}
 .queue-list-enter-active,
.queue-list-leave-active{
  position: relative;
  transition: all .6s;
  transform-origin: 50% top;
}
.queue-list-enter {
  right: -100%;
  opacity: 1
}

.queue-list-enter-to {
  right: 0;
}
.queue-list-leave {
  right: 0%;
}

.queue-list-leave-to {
  right: -100%;
  opacity:0
}