.queue{
  background-color: $lighter;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc( 100vh - 455px);
  .track{
    position: relative;
    height: 70px;
    overflow: hidden;
    &:hover{
      // .track-info{
      //   transform: translateX(70px);
      //   box-shadow: -3px 0 5px darken($lighter, 5);
      // }
      .action{
        &.remove {
          display:block;
          line-height: 0;
        }
      }
    }
    &-info{
      padding: 20px 15px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      height: 70px;
      font-size: 0.9em;
      border-bottom: 1px solid $lighter;
      line-height: 2.5;
      transition: 0.3s ease-in-out 0.3s;
      .title{
        font-weight: 300;
        max-width: 90%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
        line-height: 1.5;
        font-weight:400;
      }
    }
    // .actions{
    //   // font-size: 1.6em;
    //   // padding: 10px 25px;
    //   // color:$secondary;
    //   // line-height: 2em;
    // }
    .action{
      cursor: pointer;
      font-size: 0.9em;
      color: #2eb89e;
      margin-top: 2px;
      display: block;
      line-height: 1;
      margin-left: 5px;
    }
    .remove {
      display: none;
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 1.4em;
      transform: translateY(-50%);
      color:$danger;
      z-index:1
    }
  }
  .clearQueue{
    i{
      font-size: 1.5em;
      vertical-align: -4px;
    }
  }
}
.playingNow{
  position: relative;
  display: inline-block;
  width:5px;
  height: 16px;
  background: linear-gradient(0deg, rgba(46,184,158,1) 0%, rgba(71,147,221,1) 100%);
  top: 4px;
  left: 0;
  margin: 0 15px;
  transform:rotate(180deg);
  @include animation(playing2, 0.8s);
  &::before,
  &:after{
    content:"";
    display: inline-block;
    width:5px;
    height: 16px;
    background: linear-gradient(0deg, rgba(46,184,158,1) 0%, rgba(71,147,221,1) 100%);
    position: absolute;
  }
  &:before{
    top: 0;
    left: -7px;
    @include animation(playing1, 0.8s);
  }
  &:after{
    top: 0;
    left: 7px;
    @include animation(playing1, .6s);
  }
  &.pause{
    &:after,
    &:before{
     animation-play-state: paused;
    }
    animation-play-state: paused;
  }
}
@include keyframes(playing1){
  0%{
    height: 10px;

  } 25% {
    height: 8px;
  }50% {
    height: 14px;
  } 100%{
    height: 15px;
  }
}
@include keyframes(playing2){
  0%{
    height: 5px;

  } 25% {
    height: 14px;
  }50% {
    height: 10px;
  } 100%{
    height: 15px;
  }
}
.queue-list-enter-active,
.queue-list-leave-active{
  position: relative;
  transition: all .6s;
  transform-origin: 50% top;
}
.queue-list-enter {
  right: -100%;
  opacity: 1
}

.queue-list-enter-to {
  right: 0;
}
.queue-list-leave {
  right: 0%;
}

.queue-list-leave-to {
  right: -100%;
  opacity:0
}