.search-results-enter-active,
.search-results-leave-active {
  position: relative;
  transition: all 0.4s;
  transition-delay: 0s;
  transform-origin: left center;
}

.search-results-enter {
  left: -100%;
}

.search-results-enter-to {
  left: 0%;
}
.search-results-leave {
  left: 0%;
}
.search-results-leave-to {
  left: -100%;
}
.search-results {
  p {
    text-align: center;
  }
  .info {
    font-size: 0.9em;
    font-weight: 900;
    padding: 0 0.5rem 0 0.5rem;
  }
  .result {
    display: flex;
    background-color: #fff;
    color:$dark;
    border-bottom: 1px solid $light-border;
    margin-bottom: 2px;
    padding: 10px;
    &-action{
      color:$secondary;
      font-size: 0.8em;
      margin-left: 10px;
      text-decoration: none;
      cursor:pointer;
      i{
        font-size: 1.3em;
      }
    }
    &:first-child {
      border-top: 1px solid $light-border;
    }
  }
}